::-moz-selection { /* Code for Firefox */
  color: initial;
  background: orange;
}

::selection {
  color: initial;
  background: orange;
}

a {
  @apply cursor-pointer hover:underline underline-offset-2;
}

img, button, input, select, textarea{
  @apply select-none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    @apply text-5xl;
}

button {
  @apply px-2 py-1 bg-neutral-600 text-white  duration-300 transition-colors;
}

button:disabled {
  @apply cursor-not-allowed bg-neutral-300 hover:bg-neutral-300;
}

button:not(:disabled):hover {
  @apply bg-neutral-950;
}